html{
    background: white;
}
.logo{
    width: 180px;
}
nav{
    margin-top: -142px;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    background-color: firebrick;
	text-align: center;
    font-size: 30px;
    color: white;
    padding: 50px;
    display: flex;
	flex-direction: column;
}
nav a {
	display: block;
	color: #ffffff;
	text-align: center;
    margin-left: 200px;
	padding: 15px;
	text-decoration: none;
	
}
nav a:hover {
	background-color: darkgoldenrod;
	color: white;
}
#titles h1,div h4{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}
#People1{
    border-color:firebrick;
    border-width: 5px;
    border-style: double;
    justify-content: space-around;
    margin: 15px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 25px;
    text-align: center;
}
#People1 img,#People2 img{
    width: 400px;
}
#person1{
    text-align: center;
    border-color:firebrick;
    border-width: 5px;
    border-style: double;
}
#data{
    border-color:firebrick;
    border-style: double;
    display: grid;
    grid-template-columns: 1fr;
}
#data h4{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    border-style: double;
    border-color: firebrick;
    padding-bottom: -10px;
}
#data p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 32px;
    text-align: center;
    margin-top: -20px;
    padding-bottom: -20px;
}
#People2{
    border-color:firebrick;
    border-width: 5px;
    border-style: double;
    justify-content: space-around;
    margin: 15px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 25px;
}
#person2{
    border-color:firebrick;
    border-width: 5px;
    border-style: double;
    text-align: center;
}
li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    background-color: firebrick;
	text-align: center;
    padding: 15px 15px;
    color: white;
    font-size: 20px;
}

@media (min-width: 35em) {
	nav {
		flex-direction: row;
	}
}
