header,footer{
    width: 100%;
    background-color: firebrick;
    color: white;
    text-align: center;
}
#logo{
    width: 100px;
}
.nav-link{
    display:inline-block ;
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-link:hover{
    background: darkgoldenrod;
    color: firebrick;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.container h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 45px;
}
.container h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px;
}
body{
    text-align: center;
}
table,th,td{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-collapse:collapse ;
    margin: 5% auto;
}
.primary{
    background: #990000;
    color: white;
}
.secondary{
    background: #cc9900;
    color: #990000;
}
.accent1{
    background: #D3D3D3;
}
.accent2{
    background: #000000;
    color: #D3D3D3;
}
.typography h3, .typography h4{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
}
.heading{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 15px;
}
.paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.example{
    width: 900px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}
.colored{ 
    width: 900px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    margin: 0 auto;
    background: #990000;
    color: #cc9900;
}
@media(max-width: 400px){
    
    .colored, .example{
        width: 300px;
    }
}
@media(max-width: 600px){
    
    .colored, .example{
        width: 500px;
    }
}