*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}
#hamburgerBtn span:nth-child(1){display:block; justify-content: center;}
#hamburgerBtn span:nth-child(2){display: none;justify-content: center;}
#hamburgerBtn.open span:nth-child(1){display:none;justify-content: center;}
#hamburgerBtn.open span:nth-child(2){display: block;justify-content: center;}
html{
    background-color: white;
}
header,footer{
    background-color:#D62828;
    padding: 0.5em 0em;
   
}
header{
    display: grid;
    grid-template-columns: 80%;
}

.menu{
    grid-column-start: 2;
    text-align: right;
}
footer{
    text-align: center;
    font-family: 'Patrick Hand';
    font-size: 1.5em;
    color: white;
}
nav button{
    margin: .2rem 1em;
    background: transparent;
    border: 3px solid #F77F00;
    border-radius: 10px;
    font-size: 2em;
    color: white;
    box-sizing: border-box;
}
nav{ 
    font-family: 'Patrick Hand', cursive;
    margin: 0 auto;
    justify-content: center;
    font-size: 1.2em;
    width: 5em;
    font-weight: bold;
    float: left;
    padding: 1em 0.2em;
}
nav ul{
    list-style-type: none;

}
nav ul li a{
    display: block;
    padding: .5rem 2vw;
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    background-color:#F77F00;
    border-radius: 20px;
    font-weight: 900;
    color: #D62828;
}
nav ul {
    display: none;
}
nav ul.open{
    display: block;
    
}
.containerHd{
    text-align: center;
    display: grid;
    text-align: center;
}
.titles img{
    width: 10em;
}
.titles h1{
    color:white;
}
.menu{
    text-align: center;
}
.social{
    display: inline-flex;
    margin: 0 auto;
    justify-content: center;
}
.social img{
    width: 3.5em;
    padding: 1em 0em;
}
.enjoy{
    text-align: center;
    font-family: 'Alkatra', cursive;
    color: firebrick;
    font-size: 3.5em;
    position: absolute;
    color: #F1FAEE;
    left: 0.2em;
    top: 6em;
}
.make{
    text-align: center;
    font-family: 'Alkatra', cursive;
    color: firebrick;
    font-size: 1.5em;
    line-height:0.5;
    position: absolute;
    color: #F1FAEE;
    left: 0.2em;
    top: 18em;
}
.scroll{
    width: 99%;
    height: 50vh;
    overflow-x:scroll;
  }
.containerBd{
   text-align: center;
   padding: 1em 0;
}
.bg-box img{
    width: 100%;
}
.recipe{
    text-align: center;
}
.recipe h2{
    margin-top: 0.5em;
    font-size: 3em;
    color: red;
    font-family: 'Alkatra', cursive;
    line-height:0.5;
}
.recipe h4{
    font-size: 1.5em;
    width: 80%;
    padding: 1em 0;
    margin: 0 auto;
    justify-content: center;
    color: black;
}
.btn {
    border-radius: 20px;
    background-color: #D62828;
    color: white;
    font-weight: 900;
    padding: 0.5em 1em;
    text-decoration: none;
}
.btn:hover{
    color: #D62828;
    background-color: #F77F00;
}
.contInfo{
    background-color: #D62828;
    color: white;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom:1em ;
}
.contInfo h1{
    font-size: 2.5em;
    font-family: 'Alkatra', cursive;
    margin-top: 1em;
}
.contInfo p{
    font-size: 1.5em;
}
.contInfo a{
    color: white;
    text-decoration: none;
}
.placInfo{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 4em;
}
.placInfo h2{
font-size: 2.5em;
font-family: 'Alkatra', cursive;

}
.placInfo p{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    font-size: 2em;
}
.carlsbad{
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 3em;
    line-height:1.5;
}
.wweather{
    text-align: center;
    font-size: 2em;
    line-height:0.5;
    font-family: 'Patrick Hand', cursive;
    background-color: #D62828;
    color: #F1FAEE;
    padding: 0.5em 0em;
}
.weather{
    padding-bottom: 2em;
}
.weather img{
    width:15em ; 
}
.weather h1{
    font-size: 5em;
    font-family: 'Alkatra', cursive;
}
.weather h2{
    font-size: 3em;
    font-family: 'Patrick Hand', cursive;
}
.weather2{
    display: grid;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    background-color: #F1FAEE;
    padding-bottom: 2em;
}
.weather2 img{
    width: 5em;
}
.weather2 h1{
    font-family: 'Alkatra', cursive;
    font-size: 2em;
}
.weather2 h2{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2em;
}
.additional{
font-size: 0.7em;
}
.juicebk{
    padding: 1em 0em;
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

.Oweather{
    text-decoration: none;
    color: white;
}
/*Fresh base*/
.forms{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 1.5em 0;
}
.Mdata{
    padding: 1em 0em;
}
.Mdata p{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    text-align: center;
}
.descript{
    height: 10em;
}
/*Medium view*/
@media only screen and (min-width:35rem){
    nav{ 
        font-family: 'Patrick Hand', cursive;
        font-size: 1.5em;
        width: 4em;
        font-weight: bold;
    }
    .enjoy{
        text-align: center;
        font-family: 'Alkatra', cursive;
        color: firebrick;
        font-size: 3.5em;
        position: absolute;
        color: #EAE2B7;
        left: 0.2em;
        top: 7em;
    }
    .make{
        text-align: center;
        font-family: 'Alkatra', cursive;
        color: firebrick;
        font-size: 1.5em;
        line-height:0.5;
        position: absolute;
        color: #EAE2B7;
        left: 0.2em;
        top: 20em;
    }
    .weather{
        background: linear-gradient(0deg, rgba(46, 44, 44, 0.76), rgba(14, 13, 13, 0.836)), url('https://visitcarlsbad.com/wp-content/uploads/2016/09/Southern-California-Attractions-North-Carlsbad-Beaches_1-410x320.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .weather2 img{
        width: 8em;
    }
    .weather2 h1{
        font-family: 'Alkatra', cursive;
        font-size: 4em;
    }
    .weather2 h2{
        font-family: 'Patrick Hand', cursive;
        font-size: 2em;
    }
/*Fresh*/
.forms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
.join label,.join input,.Products select,.Products label{
    padding-bottom: 0.5em;
    margin: 0.7em 0.2em;  
}
.Mdata p{
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
}
}

/*Large View*/
@media only screen and (min-width:64rem){
    header{
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: unset;
        text-align: center;
    }
    .containerHd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.titles{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titles h1{
    color:white;
}
nav ul {
    display: flex;
    text-align: center;
    gap: 1.5em;
}
nav button{
    display: none;
}

nav ul.open{
    display: flex;
}
.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social img{
    width: 4.5em;
    gap: 1em;
}
.containerBd{
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    display: grid;
    gap: 5em;
    grid-template-columns: 35% 65%;
}

.scroll{
  width: 99%;
  height: 70vh;
  overflow-x:scroll;
}
.background{
    width: 100%;
    position: relative;
    }
.enjoy{
    font-family: 'Alkatra', cursive;
    position: absolute;
    color: #D62828;
    left: 0.2em;
    top: 4em;
    font-size: 4.5em;
    line-height:0.5;
}
.enjoy:hover{
    transform:scale(1.1);
}
.make{
    font-family: 'Alkatra', cursive;
    position: absolute;
    color: #D62828;
    left: 0.5em;
    top: 8em;
    font-size: 3em;
    line-height:0.5;
}
.make:hover{
    transform:scale(1.1);
}
.contInfo h1{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    
}
.contInfo p{
    padding: 0 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    line-height:0.8;
}
.placInfo h2{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    text-align: center;
}
.placInfo p{
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    text-align: center;
}
.linking{
    text-decoration: none;
    color: black;
}
.recipe h2{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
}
.recipe h4{
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    line-height:1;
    text-align: center;
}
.recipe a{
    font-family: 'Patrick Hand', cursive;
    font-weight: 900;
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}
.btn:hover{
    color: #D62828;
    background-color: #F77F00;
}
.carlsbad{
    grid-column: 1 / span 2;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 5em;
    line-height:0;
}
.wweather{
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 3em;
    line-height:0.5;
    font-family: 'Patrick Hand', cursive;
}
.weather{
    text-align: center;
    display: grid;
}
.weather2{
    grid-template-columns: 1fr;
}
.weather,.weather2{
    background-color: #F1FAEE;
}
.wtrIco{
    width: 25em;
}
.weather img{
    width: 15em;
    padding: 0 0;
    line-height:0.5;
}
.weather h1{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    line-height:0.5;
}

.weather h2{
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    line-height:1.5;
}
.weather2 img{
width: 5em;
}
.weather2 h1,.weather2 h2{
    font-family: 'Alkatra', cursive;
}

.containerau{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
.containerau h1{
    grid-column: 1 / span 2;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 3em;
}
.au, .om,.ad{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding: 2em 1em;
}
.ad{
    padding: 2em 0;
}
.containerau p{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    text-align: center;
}
}
