@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); </style>

body {
    max-width: 1024px;
    margin: 0 auto;
}

header, footer {
    background-color: rgba(14, 73, 136, 0.852);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #6f7364;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}
header img {
    width: 150px;
    float: left;
    margin: 30px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px #292a26;
}
header {
    display: grid;
    grid-template-columns: 20% 80%;
}
header h2 {
    margin: 0 auto;
    font-size: 50px;
	padding-top: 80px;
	color: white;
}

main h1{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 10px;
}

div {
	border-top: 2px solid rgb(38, 38, 38);
  height: 2px;
  max-width: 1024px;
  margin-left:5px;
  text-align: left;
}
li{
	padding-top: 5px;
	font-family: 'Times New Roman', Times, serif;
}
main p{
	font-style: italic;
}
 .copyright {
    color: white;
 }

 h1 {
    margin: 0 auto;
    font-size: 20px;
}
.copyright {
    text-align: center;
	
}
.modify{
	text-align: center;
	color: yellow;
}